# The data file can be reproduced from SCCM package source server share folders
Data/
!Data/zeroconfig.ps1
!Data/*.json
bin/

# Intune intermediate files are generated on compile
dev/Intune
dev/IntuneBuildFiles
*.intunewin


# Resulting compiled program output
Install.exe

# VS Code and Sapien intermediate files.
.vscode
Thumbs.db
*.TempPoint*
*.Export.*
*.psprojs
*.RestorePoint.*
*.Run.ps1
*.Package.ps1
CustomMenu.inf